@charset "UTF-8";
/* CSS Document */

* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    height: 100%;
    /* Reset default browser values */
    margin: 0;
    padding: 0;

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.button {
    font-size: 2rem;
    margin: 3rem;
    border-radius: 1rem;
    padding: 2rem;
}

.button:hover {
    cursor: pointer;

}

#stage {
    width: 80%;
}

@media only screen and (min-width: 1321px) {
    #stage {
        width: 25%;
    }
}

